
@import "variables";

.credentials{
    background-color: $dark-green;
    padding-bottom: toRem(133);


    .credentials-content{
        display: grid;
        grid-template-columns: 1fr;

        .attainment-content{
            justify-self: flex-end;

            .education-skills{
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: repeat(2, auto);
                column-gap: toRem(49);
                row-gap: toRem(126);

                .degree, ul{
                    // margin-top: toRem(5);
                    padding-left: 0;
                }

                h4{
                    font-size: toRem(24);
                    font-weight: $font-medium;
                    color: $light-green;
                }
                p, li{
                    font-size: toRem(18);
                    font-weight: $font-regular;
                    color: $white;
                }
                p.date-graduate{
                    font-size: toRem(16);
                }
            }          
        }
    }
}