
@import "variables";

footer{
    background-color: $dark-green;
    padding-bottom: toRem(133);

    .contact-info{
        .contact{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: repeat(3, auto);
            row-gap: toRem(32);

            .email, .phone{
                p{
                    font-size: toRem(24);
                    color: $light-green;
                    font-weight: $font-medium;
                    &:first-child{
                        color: $white;
                        font-size: toRem(15);
                        font-weight: $font-medium;
                    }
                }
            }
            .social-media{
                p{
                    color: $white;
                    font-size: toRem(15);
                    font-weight: $font-medium;
                }
                ul{
                    display: flex;
                    align-items: center;
                    gap: toRem(11);
                    li{
                        a{
                            color: $light-green;
                            font-size: toRem(24);
                            transition: color 0.3s ease-in-out;

                            &:hover{
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}