


$light-green: #98E8CD;
$dark-green: #020912;
$white: #FFFFFF;

// font
$font-poppins: 'Poppins', sans-serif;
$font-semi-bold: 600;
$font-medium: 500;
$font-regular: 400;

//function to convert px into rem
@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}
