
@import "variables";
@import "header";
@import "about";
@import "credentials";
@import "projects";
@import "footer";

*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: $font-poppins;
    color: white;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
h2{
    font-size: toRem(48);
    font-weight: $font-regular;
    color: $white;
    margin-bottom: toRem(65);
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}
.wrapper{
    width: 90%;
    max-width: toRem(1289);
    margin: 0 auto;
}